* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.active {
    color: #fc036b;
    text-decoration: underline;
    font-weight: bold;
}

body html {
    overflow-x: hidden;
}

/* Navbar */
.navbar {
    position: fixed;
    /* Adicionada propriedade position */
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
    background-color: #333;
    /* Adicionei um fundo para a barra de navegação */
    opacity: 0.3;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 30px;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/cafe.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 300px;
}

.header-content {
    margin-bottom: 320px;
    color: black ;
    font-size: 80px;
    text-transform: uppercase;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
    font-family: Impact, sans-serif;
    letter-spacing: 3px;
    padding-bottom: 10px;
}

.header-content h2 {
    font-size: 4vmin;
}

.line {
    width: 150px;
    height: 4px;
    background: orangered;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1 {
    font-size: 10vmin;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.ctn {
    padding: 8px 15px;
    background: orangered;
    border-radius: 30px;
    color: white;
}

@media screen and (max-width: 850px) {
    .navbar {
        padding: 0;
    }

    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #484872;
    }

    .nav-links li {
        margin: 30px auto;
    }

    .menu-btn {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 40px;
        cursor: pointer;
    }
}

/* Events */
section {
    width: 80%;
    margin: 80px auto;
}

.title {
    text-align: center;
    font-size: 4vmin;
    color: #49497e;
}

.row {
    display: flex;
    align-items: center;
}

.col {
    flex: 1;
}

.resumo-image {
    width: 350px;
    /* Outros estilos desejados */
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events .row {
    margin-top: 50px;
}

h4 {
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
    height: 100px;
}

p {
    color: #7c7c7c;
    padding: 0px;
}

/* Hobbies */
#hobbies {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hobbies-content {
    width: 60%;
    padding: 50px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hobbies-content h1 {
    font-size: 7vmin;
}

.hobbies-content .line {
    margin-bottom: 50px;
}

.hobbies-content p {
    color: rgb(221, 221, 221);
}

/* Fotos */
.container {
    display: flex;
    padding: 4% 2%;
    box-sizing: border-box;
}

.box {
    flex: 1;
    overflow: hidden;
    transition: 0.5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    line-height: 0;
}

.box>img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover;
    transition: 0.5s;
}

.box>span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
}

.box:hover {
    flex: 1 1 50%;
}

.box:hover>img {
    width: 100%;
    height: 100%;
}


/* Contato  Jésisca*/
´ .img-wrapper {
    width: 300px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    width: 300px;
    height: 400px;
    padding: 20px;
    background-color: #f5f5f5;
    color: #333;
    border: 1px solid #ccc;
    background-color: tomato;
    color: white;
}

button[type="submit"] {
    background-color: tomato;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 5px;
}

button[type="submit"] {
    background-color: tomato;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #cc0000;
}

.image-area {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 300px;
}

.img-wrapper {
    width: 300px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.img-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 180%;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .3);
    z-index: 1;
    transform: skew(45deg);
    transition: .5s;
}

.img-wrapper:hover:before {
    left: -180%;
}

.img-wrapper img {
    height: 400px;
    width: 300px;
    filter: grayscale(100%);
    transition: 2s;
}

.img-wrapper:hover img {
    filter: grayscale(0%);
    transform: scale(1.1);
}

.img-wrapper h2 {
    background: tomato;
    font-family: Poppins;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: perspective(400px) rotateY(90deg);
    transform-origin: right;
    transition: 1s;
}

.img-wrapper:hover h2 {
    transform: perspective(400px) rotateY(0deg);
}

.img-wrapper ul {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    background: rgba(255, 255, 255, 0);
}

.img-wrapper ul li {
    background: #333;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    transform: perspective(800px) rotateY(90deg);
    transition: .5s;
    transform-origin: left;
}

.img-wrapper:hover ul li {
    transform: perspective(800px) rotateY(0deg);
}

.img-wrapper:hover ul li:nth-child(1) {
    transition-delay: .2s;
}

.img-wrapper:hover ul li:nth-child(2) {
    transition-delay: .6s;
}

.img-wrapper:hover ul li:nth-child(3) {
    transition-delay: .8s;
}

.img-wrapper:hover ul li:nth-child(4) {
    transition-delay: 1s;
}

.img-wrapper ul li a {
    color: tomato;
    background: rgba(255, 255, 255, 0);
}

.img-wrapper ul li i {
    color: tomato;
    background: rgba(255, 255, 255, 0);
}

.img-wrapper ul li i:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0);
}

/* Footer */


.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: #c7bdbd;
    border-top: 1px solid #e5e5e5;
}

.footer>* {
    flex: 1 100%;
}


.legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
}

.legal__links {
    display: flex;
    align-items: center;
}

.heart {
    color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
    .legal .legal__links {
        margin-left: auto;
    }
}

.estilizar-foto {
    border: 1px solid #ccc;
    border-radius: 10%;
    box-shadow: 10px 0px 5px rgba(0, 0, 0, 0.3);
    width: 350px;
    height: 500px;
}

.resumo-text {
    font-size: 21px;
    line-height: 1.2;
    text-align: center;
}

#hobbies .container.fotos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#hobbies .box {
    width: 200px;
    /* Defina a largura desejada para as caixas */
    text-align: center;
    margin-bottom: 20px;
}

#hobbies .box img {
    max-width: 100%;
    height: auto;
    width: 60%;
    /* Defina o valor de zoom desejado (por exemplo, 80% para reduzir o zoom) */
    border: 5px solid orangered;
    /* Adiciona uma borda sólida de 2px na cor laranja */
    border-radius: 5px;
    /* Adiciona um leve arredondamento às bordas */
}

#hobbies .box span {
    display: block;
    margin-top: 10px;
}